:root {
    --bg-color: #111213;
    --calc-color: #212224;
    --display-color: #dfdfdf;
    --button-color: #2f71e8;
    --evaluate-color: #29b9f0;
    --clear-color: #B42B51;
}

html {
    font-size: 24px;
    font-family: sans-serif;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: 4.5rem repeat(5, 3rem);
    gap: 2px;
    background-color: var(--calc-color);
}

#display {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    box-sizing: border-box;
    width: auto;
    margin: 0;
    padding: .5rem;
    background-color: var(--display-color);
    border-radius: 0;
}

#auxiliary-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    font-size: 1rem;
    opacity: 85%;
}

#aux-operator {
    display: flex;
    justify-content: center;
    width: 1rem;
}

#main-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
    font-size: 1.5rem;
}

#calculator button {
    padding: 0;
    border-radius: 0;
    background-color: var(--button-color);
    border: none;
    font-size: 1.5rem;
    transition: scale .1s;
}

#calculator button:hover {
    filter: brightness(150%);
}

#calculator button:active {
    transition: scale 0s;
    scale: 1.03;
}

#evaluate {
    grid-row: 4 / 7;
    grid-column: 4 / 5;
    background-color: var(--evaluate-color) !important;
}

#clear {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    background-color: var(--clear-color) !important;
}